<%- include('layout/top') %>
<div class="home-container">
  <aside class="home-sidebar">
    <a href="/new-service"><button>Novo Agendamento</button></a>
    <a href="/logout"><button>Sair</button></a>
  </aside>

  <main class="home-main">
    <div class="service-container">
      <table id="services-table">
        <tr class="top-table">
          <th>Cliente</th>
          <th>Data e Horário</th>
          <th>Preço</th>
        </tr>
        <% services.forEach(service =>{ %>
        <tr>
          <th><%=service.clientName%></th>
          <th><%=service.date%></th>
          <th>R$<%=service.price%></th>
          <th><a href="edit/<%=service.id%>">editar</a></th>
          <th><a href="delete/<%=service.id%>">excluir</a></th>
        </tr>
        <% }) %>
      </table>
    </div>
  </main>
</div>
<%- include('layout/bottom') %>